/****************************************************************************


"AutoProfilePlotter.bmp"

produced by Borland Resource Workshop


*****************************************************************************/

TAUTOPROFILEPLOTTER     BITMAP "AutoProfilePlotter.bmp"

