/****************************************************************************


"AutoGraphPlotter.bmp"

produced by Borland Resource Workshop


*****************************************************************************/

TAUTOGRAPHPLOTTER     BITMAP "AutoGraphPlotter.bmp"

